@charset "UTF-8";
*{
	padding:0px;
	margin:0px;
}


header{
	padding: 20px;
	background-color: blue;
	text-align:center;
}


nav{
	padding: 10px;
	background-color: beige;	
}

ul{
	list-style: none;
}

ul > li{
	display: inline-block;
	padding-right:20px;
}

section{
	height: 500px;
	padding:30px;
}

section ol{
	margin-top:50px;
}

table{
	width: 800px;
	border:1px solid black;	
	margin:0 auto;
}

td:nth-child(1){
	text-align: center;
}

td{
	border:1px solid black;
}

footer{
	padding:20px;
	background-color: blue;
}